<template>
  <div class="empty">
    <div
      class="empty__img"
      :style="{ backgroundImage: `url(${imgUrl})` }"
    ></div>
    <p>Your files are empty</p>
    <p>Upload a new file below</p>
    <v-btn class="empty__btn" exact nuxt to="/" elevation="0">
      Upload file
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    imgUrl: '../file-type/empty-folder.png',
  }),
}
</script>

<style lang="scss">
.empty {
  height: 50vh;
  min-height: 250px;
  position: relative;
  &__img,
  p {
    margin: 0px auto;
  }
  &__img {
    width: 45vw;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__btn {
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
  }
  p {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
  }
  p:nth-child(3) {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 516px) {
  .empty {
    p {
      font-size: 17px;
    }
    p:nth-child(3) {
      font-size: 13px;
    }
  }
}
</style>