<template>
  <v-container class="image-box">
    <div class="image">
      <v-img v-if="isImage(type)" :src="url" cover width="100%" height="240" />
      <v-img v-else :src="getUrl(type)" contain width="100%" height="100" />
    </div>
    <ImageCard :name="name" :url="url" :type="type"/>
  </v-container>
</template>

<script>
import ImageCard from '../components/ImageCard.vue'
export default {
  components: {
    ImageCard
  },
  props: {
    url: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    isImage(fileType) {
      return fileType.includes('image');
    },
    getUrl(fileType) {
      if (fileType.includes('word') || fileType.includes('document')) {
        return '../file-type/doc.png'
      }
      if (fileType.includes('execl') || fileType.includes('sheet')) {
        return '../file-type/xls.png'
      }
      if (fileType.includes('pdf')) {
        return '../file-type/pdf.png'
      }

      return '../file-type/file.png'
    },
  },
}
</script>

<style lang="scss">
.image-box {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  height: 290px;
  padding: 0;
  overflow: hidden;
  background: white;
  .image {
    height: 240px;
    position: relative;
    .v-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  p {
    padding: auto;
    margin: 5px auto;
    font-size: 15px;
    font-weight: 500;
  }
}
</style>