<template>
  <v-container class="image-card">
    <v-img :src="getUrl(type)" contain width="30" height="30" />
    <div><p>{{ name }}</p></div>
  </v-container>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    getUrl(fileType) {
      if (fileType.includes('image')) {
        return '../file-type/image.png'
      }
      if (fileType.includes('word') || fileType.includes('document')) {
        return '../file-type/doc.png'
      }
      if (fileType.includes('execl') || fileType.includes('sheet')) {
        return '../file-type/xls.png'
      }
      if (fileType.includes('pdf')) {
        return '../file-type/pdf.png'
      }

      return '../file-type/file.png'
    },
  },
}
</script>

<style lang="scss">
.image-card {
  height: 45px !important;
  padding: 0px 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  div {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      padding: 0;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
</style>