<template>
  <v-col md="6" class="content-wrapper">
    <v-col md=12 class="uploaded">
      <div
        v-for="file in uploadedFiles"
        :key="file._id"
        class="d-flex align-center justify-space-between uploaded__item"
      >
        <image-card :url="file.s3Link" :type="file.fileType" :name="file.name"/>
        <v-btn
          icon
          x-small
          color="error"
          :disabled="isDeleted"
          :loading="isDeleted"
          @click="onRemove(file._id)"
        >
          <v-icon color="red" dense>mdi-close</v-icon>
        </v-btn>
      </div>

    </v-col>
  </v-col>
</template>

<script>
import ImageCard from './ImageCard.vue'

export default {
  components: {
    ImageCard,
  },
  computed: {
    uploadedFiles() {
      return this.$store.state.uploadedFiles
    },
  },
  data: () => ({
    isDeleted: false,
  }),
  methods: {
    async onRemove(id) {
      try {
        const token = localStorage.getItem('access-token')
        if (this.isDeleted || !token || !id) {
          return
        }
        this.isDeleted = true
        const response = await this.$axios.delete(`files/${id}`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        if (!response.data) {
          this.isDeleted = false
          return
        }
        this.isDeleted = false
        this.$store.commit('onRemoveFile', id)
      } catch (error) {
        console.log(error)
        this.isDeleted = false
      }
    },
  },
}
</script>

<style lang="scss">
.content-wrapper {
  padding: 80px 50px !important;
}
.uploaded {
  padding: 0px !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #bebebe;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #919191;
  }
  &__item {
    margin: 10px 10px;
    p {
      padding: 0px;
      margin: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .content-wrapper {
    padding: 35px 50px !important;
  }
  .uploaded {
    height: 40vh;
    &__input {
      .v-icon.v-icon {
        font-size: 90px !important;
      }
    }
  }
}
</style>