<template>
  <v-col md="6" class="upload">
    <v-file-input
      v-if="!isUpload"
      hide-input
      @change="onUploadFile"
      prepend-icon="mdi-upload"
      class="upload__input"
    />
    <v-progress-circular
      v-else
      indeterminate
      class="upload__input"
      color="primary"
    />
    <div class="upload__text">
      <p>
        Click here to upload
      </p>
    </div>
    <div class="upload__bg-img" :style="{ backgroundImage: `url(${backgroundUrl})` }"></div>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    isUpload: false,
    backgroundUrl: '../file-type/pic.png',
  }),
  methods: {
    async onUploadFile(file) {
      try {
        const token = localStorage.getItem('access-token')
        if (this.isUpload || !token || !file) {
          return
        }
        this.isUpload = true
        let formData = new FormData()
        formData.append('files', file)
        const response = await this.$axios.post('files/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: `Bearer ${token}`,
          },
        })
        if (!response.data || !response.data.length) {
          this.isUpload = false
          return
        }
        this.isUpload = false
        this.$store.commit('onSetUploadSuccess', true)
        this.$store.commit('onGetUploadedFiles', response.data[0])
      } catch (error) {
        console.log(error)
        this.isUpload = false
      }
    },
  },
}
</script>

<style lang="scss">
.upload {
  position: relative;
  padding: 10px;
  &__bg-img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  &__input {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    .v-icon.v-icon {
      font-size: 150px !important;
      color: #2f80ec;
    }
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .upload{
    height: 100px;
    &__bg-img {
      display: none;
    }
    &__text {
      top: 120%;
    }
    &__input {
      top: 50%;
      .v-icon.v-icon {
        font-size: 90px !important;
      }
    }
  }
}
</style>