<template>
  <v-app>
    <v-app-bar-nav-icon @click="drawer = true" color="primary" ></v-app-bar-nav-icon>
    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list shaped>
        <v-list-item-group v-model="selectedItem" color="primary">
          <template v-for="(item, i) in items">
            <v-list-item v-if="item.to" :key="i" :to="item.to" exact>
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
            <v-list-item
              v-if="item.title == 'Logout'"
              :key="i"
              @click.native="onLogout"
            >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    selectedItem: 1,
    drawer: false,
    items: [
      {
        icon: 'mdi-home',
        title: 'Welcome',
        to: '/',
      },
      {
        icon: 'mdi-file',
        title: 'Files',
        to: '/files',
      },
      {
        icon: 'mdi-logout',
        title: 'Logout',
      },
    ],
  }),
  methods: {
    async onLogout() {
      localStorage.removeItem('access-token')
      await this.$router.push({ path: '/login' })
    },
  },
}
</script>
