
<template>
  <v-col class="all-files">
    <v-col md="12" v-if="!files.length">
      <empty-files />
    </v-col>
    <v-col md="3" v-else v-for="file in files" :key="file._id">
      <image-box :url="file.s3Link" :name="file.name" :type="file.fileType"/>
    </v-col>
  </v-col>
</template>

<script >
import EmptyFiles from '~/components/EmptyFiles.vue'
import ImageBox from '../components/ImageBox.vue'
export default {
  middleware: 'auth',
  components: {
    ImageBox,
    EmptyFiles,
  },
  data: () => ({
    isUpload: false,
  }),
  computed: {
    files() {
      return this.$store.state.files
    },
  },
  methods: {
    isImage(fileType) {
      return fileType.includes('image')
    },
  },
  async fetch() {
    try {
      const token = localStorage.getItem('access-token')
      if (this.isUpload || !token) {
        return
      }
      this.isUpload = true
      const response = await this.$axios.get('files', {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      if (!response.data) {
        this.isUpload = false
        return
      }
      this.$store.commit('onGetFiles', response.data.data)
    } catch (error) {
      console.log(error)
      this.isUpload = false
    }
  },
}
</script>

<style lang="scss">
.all-files {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  padding: 50px
}
</style>