<template>
  <v-row class="container">
    <v-card class="upload-box">
      <upload-section />
      <uploaded-section />
    </v-card>
    <v-snackbar v-model="isUploadSuccess" :timeout="1500" top right color="success">
      Upload Success

      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="isUploadSuccess = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
import UploadSection from '../components/UploadSection'
import UploadedSection from '../components/UploadedSection'

export default {
  middleware: ['auth', 'reset-file'],
  components: {
    UploadSection,
    UploadedSection,
  },
  computed: {
    isUploadSuccess: {
      get() {
        return this.$store.state.isUploadSuccess;
      },

      set(newValue) {
        this.$store.commit('onSetUploadSuccess', newValue)
      }
    }
  },
}
</script>

<style lang="scss">
.upload-wrapp {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  height: 100%;
}
.upload-box {
  width: 100%;
  height: 65vh;
  display: flex !important;
  justify-items: center;
  align-content: center;
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px !important;
}

@media screen and (max-width: 767px) {
  .upload-box {
    display: block !important;
  }
}
</style>