<template>
  <div class="login-wrapper">
    <v-card class="login">
      <v-card-title>LOGIN</v-card-title>
      <v-text-field
        class="login__input"
        label="Email"
        :rules="emailRule"
        hide-details="auto"
        outlined
        v-model="email"
      />
      <v-text-field
        class="login__input"
        label="Password"
        :rules="passwordRule"
        hide-details="auto"
        v-model="password"
        outlined
        :type="isShowPassword ? 'text' : 'password'"
        :append-icon="isShowPassword ? 'mdi-eye' : 'mdi-eye-off'"
        @click:append="isShowPassword = !isShowPassword"
      />
      <v-btn block color="primary" class="login__btn" @click="onTapLogin"
        >LOGIN</v-btn
      >
    </v-card>
    <v-snackbar v-model="snackbar" color="error" right top>
      Login Failed
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script >
export default {
  layout: 'login',
  data: () => ({
    snackbar: false,
    emailRule: [
      (value) => !!value || 'Required.',
      (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'example: abc@xyz.com'
      },
    ],
    passwordRule: [
      (value) => !!value || 'Required.',
      (value) => {
        const pattern = /^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{7,64})$/
        return (
          pattern.test(value) ||
          'A password must be eight characters including one uppercase letter, one special character and alphanumeric characters.'
        )
      },
    ],
    email: '',
    password: '',
    isShowPassword: false,
  }),
  middleware: 'check-auth',
  methods: {
    async onTapLogin() {
      try {
        if (!this.email || !this.password) {
          return
        }

        const response = await this.$axios.post('auth/login', {
          email: this.email,
          password: this.password,
        })

        if (!response?.data?.accessToken) {
          this.snackbar = true
          return
        }
        const token = response.data.accessToken
        localStorage.setItem('access-token', token)
        await this.$router.push({ path: '/' })
      } catch (error) {
        console.log(error)
        this.snackbar = true
      }
    },
  },
}
</script>

<style lang="scss">
.login-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  padding: 40px;
  &__input {
    margin: 10px 0px !important;
  }
  &__btn {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    width: 85vw;
    padding: 20px;
  }
}
</style>